

.wrapper {
    display: flex;
    justify-content: center;
}

.box {
    width: 20px;
    height: 20px;
    border: solid black 1px;
    justify-content: center;
    margin: auto;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(255, 204, 0);
}

.purple {
    background-color: purple;
}
.blocks {
    width: 220px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

